@import "../../variables.scss";

.inputWrapper {
    margin: 2vh 0;
    border-radius: 2px;
    width: 100%;
    max-width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #00000022;

    > * {
        font-family: numbertwo;
        height: 100%;
        padding: 10px 5px;
        font-size: 1em;
        font-weight: 400;
    }
}

.labelWrapper {
    width: max-content;
    background-color: transparent;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid lightgray;
    border-right: none;
    display: flex;
    align-items: center;
    color: darkgray;
    transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
    background-size: contain;
    background-position: center;

    .iconImage {
        height: 100%;
    }
}

.inputBox {
    width: 100%;

    border: 1px solid lightgray;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    background-color: transparent;
    color: darkgray;
    outline: none;
    transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
    &::placeholder {
        color: lightgray;
        transition: color ease-in-out 1s;
    }

    &:focus,
    &:focus ~ label {
        color: white;
        background-color: #00000066;
        outline: none;
        border-color: goldenrod;

        &::placeholder {
            color: lightgray;
            transition: color ease-in-out 1s;
        }
    }

    &:-webkit-autofill,
    &:-webkit-autofill ~ label,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:focus ~ label {
        color: gold;
        background-color: #00000099;
        transition-duration: 0ms;
    }
}
