.list {
  list-style-type: none;
  list-style-position: inside;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5% 0;
  
  &:first-child {
    margin-top: 0;
  }
  
  li {
    margin: 3% 0;
    text-align: left;
    color: gold;
    font-family: numbertwo;
    font-size: clamp(0.4em, 2vw, 1.4em);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0s;
    transition-timing-function: linear;
    &::first-letter {
      font-family: numberone;
      font-size: 1.4em;
    }
    
    &.fadeIn {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 1s;
      transition-timing-function: ease;
    }
  }
}