@import "../../variables.scss";

@font-face {
  font-family: "numberone";
  src: url("../../assets/fonts/CASTELAR.TTF");
}

@font-face {
  font-family: "numbertwo";
  src: url("../../assets/fonts/centaurmt.ttf");
}

.navBar {
  font-family: "numbertwo";
  position: relative;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  background-image: linear-gradient(to right, #000000ff, #00000000, #000000ff),
    linear-gradient(to bottom, #000000ff, #00000000, #000000ff);
  background-size: 100%;
  box-shadow: $primary-shadow;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.display {
    right: 0;
  }

  .navToggler {
    @include standard_vertical_layout;
    background-color: transparent;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 20vmin;
    height: 20vmin;
    transition: 0.5s;
    z-index: 1;

    .navBurger {
      @include standard_vertical_layout;
      background-color: transparent;
      border-radius: 1em 0 0 1em;
      height: 20%;
      width: 100%;
      font-size: 2em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .navContent {
    @include standard_vertical_layout;
    position: relative;
    background-color: #00000033;
    right: 0;
    height: 100%;
    width: 100%;

    .mainMenu {
      @include standard_vertical_layout;
      height: 75%;
      width: 100%;
      background-image: url("../../assets/images/app-of-empires-dw.png");
      background-position: center;
      background-size: contain, 100% 110%;
      background-repeat: no-repeat;

      .navLogo {
        @include standard_vertical_layout;
        height: 37%;
        width: 50%;
      }

      .navItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 63%;
        width: 50%;

        .navItem {
          @include standard_vertical_layout;
          height: 20%;
          width: 100%;

          h3 {
            line-height: 100%;
            text-align: center;
            font-size: 1.6em;
            color: $primary-font-color;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
