@import "../../variables.scss";

.cardWrapper {
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 600px;

  height: 65vh;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 1vh 0;
}

.cardHeading {
  overflow-y: visible;
  @include standard_vertical_layout;
  height: 30%;
  background-image: linear-gradient(#00000066, #00000066), url("../../assets/images/background-marble.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  border-bottom: 4px goldenrod ridge;

  h2 {
    text-shadow: 2px 2px 10px #ffffff99;
    overflow: visible;
    line-height: 15vh;
    width: 100%;
    overflow-y: visible;
    font-family: "numberthree";
    background-image: linear-gradient(to bottom right, #ffffffff, #ffffff, #ffffff00);
    color: #daa52066;
    background-clip: text;
    font-size: calc(8vmin + 8px);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0s;
    transition-timing-function: linear;

    &.fadeIn {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 1s;
      transition-timing-function: ease;
    }
  }
}

.cardDetails {
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "numberfour";
  font-size: 3em;
  height: 90%;

  h4 {
    line-height: 2em;
    color: lightgray;
    font-size: clamp(0.4em, 6vw, 0.8em);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0s;
    transition-timing-function: linear;

    &.fadeIn {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 1s;
      transition-timing-function: ease;
    }
  }

  .list {
    list-style-type: none;
    font-family: "numberfour";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: goldenrod;

    > * {
      margin: 10px;
    }
  }
}

.civilizationsBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../../assets/images/fallback_campaign_render.jpg");
}

.technologiesBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../../assets/images/background-brick.jpg");
}

.structuresBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../../assets/images/background.jpg");
}

.unitsBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../../assets/images/background.jpg");
}
