* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1em;
}

#root {
  background-image: url("./assets/images/texture.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.civilizationsBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../src/assets/images/fallback_campaign_render.jpg");
}

.technologiesBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../src/assets/images/background-brick.jpg");
}

.structuresBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../src/assets/images/background.jpg");
}

.unitsBackground {
  background-image: linear-gradient(#00000099, #00000099), url("../src/assets/images/background.jpg");
}

.cardDetails {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "numberfour";
  font-size: 1em;
  height: 70%;
}
