@font-face {
  font-family: "numberone";
  src: url("./assets/fonts/CASTELAR.TTF");
}

@font-face {
  font-family: "numbertwo";
  src: url("./assets/fonts/centaurmt.ttf");
}

@font-face {
  font-family: "numberthree";
  src: url("./assets/fonts/lblack.ttf");
}

@font-face {
  font-family: "numberfour";
  src: url("./assets/fonts/vineritc.ttf");
}

@mixin standard_vertical_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

$primary-font-color: #dedcdb;
$secondary-font-color: #d4cca6;
$primary-background: yellow;
$secondary-background: yellowgreen;
$primary-shadow: -2px 0px 10px black;

/* Keyframes */
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
